:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image:url('../img/fondo.jpg');
}
h2{
    text-align: center;
    color: white;
    font-family: sans-serif;
}
.contenido {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-family: Verdana;
    font-size: 20px;
    font-weight: bolder;
}
.contenido-item {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
    grid-auto-rows: minmax(200px, auto);
}
.contenido-item > .item-01, .item-02, .item-03, .item-04, .item-05, .item-06{
    border: 3px solid white;
    border-radius: 10px;

}
.item-01 {
    background-color: rgb(9, 173, 9);
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }

.item-02 {
    background-color:rgb(201, 82, 231);
    grid-column:  1 / 3;
    grid-row: 3;
  }

.item-03 {
    background-color: rgb(1, 161, 236);
    grid-column: 3 / 6;
    grid-row: 1;
  }

.item-04 {
    background-color: rgb(206, 113, 79);
    grid-column: 3 / 5;
    grid-row: 2 / 4;
  }

.item-05{
    background-color: rgb(13, 97, 27);
    grid-column: 5;
    grid-row: 2;
  }

.item-06{
    background-color: rgb(88, 85, 85);
    grid-column: 5;
    grid-row: 3;
  }







